USE [master]
GO
/****** Object:  Database [DbCAB]    Script Date: 30-01-2024 11:21:09 ******/
CREATE DATABASE [DbCAB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbCAB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DbCAB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbCAB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DbCAB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbCAB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbCAB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30-01-2024 11:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_CabData]    Script Date: 30-01-2024 11:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CabData](
	[Cab_Id] [int] IDENTITY(1,1) NOT NULL,
	[ArmyNo] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Complaint_Type] [nvarchar](max) NULL,
	[Complaint_No] [nvarchar](max) NULL,
	[Rank] [nvarchar](max) NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[Regt] [nvarchar](max) NULL,
	[Case_Status] [nvarchar](max) NULL,
	[Dt_Of_Complaint] [datetime2](7) NOT NULL,
	[Recd_Date_Cab] [datetime2](7) NOT NULL,
	[InfoDate] [datetime2](7) NULL,
 CONSTRAINT [PK_ExcelData] PRIMARY KEY CLUSTERED 
(
	[Cab_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ImportDtls]    Script Date: 30-01-2024 11:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ImportDtls](
	[Import_Id] [int] IDENTITY(1,1) NOT NULL,
	[Uploaded_filename] [nvarchar](max) NULL,
	[Uploaded_dt] [datetime2](7) NOT NULL,
	[Uploaded_By] [nvarchar](max) NULL,
 CONSTRAINT [PK_Upload_Dtls] PRIMARY KEY CLUSTERED 
(
	[Import_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UploadBinding]    Script Date: 30-01-2024 11:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UploadBinding](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ipaddress] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tbl_UploadBinding] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220929091058_initial', N'6.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221013110717_v1', N'6.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221027052055_ipbind', N'6.0.8')
GO
SET IDENTITY_INSERT [dbo].[tbl_CabData] ON 

INSERT [dbo].[tbl_CabData] ([Cab_Id], [ArmyNo], [Name], [Complaint_Type], [Complaint_No], [Rank], [Subject], [Regt], [Case_Status], [Dt_Of_Complaint], [Recd_Date_Cab], [InfoDate]) VALUES (1, N'63176', N'VKHUOLXSH KUJSVR', NULL, N'N087120', N'LT COL', NULL, N'AOC', N'MOD', CAST(N'2021-12-02T00:00:00.0000000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2021-12-02T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[tbl_CabData] ([Cab_Id], [ArmyNo], [Name], [Complaint_Type], [Complaint_No], [Rank], [Subject], [Regt], [Case_Status], [Dt_Of_Complaint], [Recd_Date_Cab], [InfoDate]) VALUES (2, N'7534', N'PRXRNV SHVNKVR', NULL, N'S087220', N'LT COL', NULL, N'ENGRS', N'MOD', CAST(N'2022-03-09T00:00:00.0000000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2022-03-09T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[tbl_CabData] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_ImportDtls] ON 

INSERT [dbo].[tbl_ImportDtls] ([Import_Id], [Uploaded_filename], [Uploaded_dt], [Uploaded_By]) VALUES (3008, N'CAB.xlsx', CAST(N'2022-10-27T11:14:41.6346100' AS DateTime2), N'ASDC')
INSERT [dbo].[tbl_ImportDtls] ([Import_Id], [Uploaded_filename], [Uploaded_dt], [Uploaded_By]) VALUES (3009, N'AllProjects_Details.xlsx', CAST(N'2022-10-27T11:15:02.0447834' AS DateTime2), N'ASDC')
INSERT [dbo].[tbl_ImportDtls] ([Import_Id], [Uploaded_filename], [Uploaded_dt], [Uploaded_By]) VALUES (3016, N'Report29 Sep 22272.xlsx', CAST(N'2022-10-27T16:40:18.3824269' AS DateTime2), N'ASDC')
SET IDENTITY_INSERT [dbo].[tbl_ImportDtls] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_UploadBinding] ON 

INSERT [dbo].[tbl_UploadBinding] ([Id], [Ipaddress]) VALUES (1, N'192.168.10.201')
SET IDENTITY_INSERT [dbo].[tbl_UploadBinding] OFF
GO
USE [master]
GO
